.colored-icon {
    color: rgba($color-foreground, $opacity-high);

    &--active {
        color: $color-background;
    }
}

.colored-icon__background {
    @include size(r(26));
    display: grid;
    place-items: center;
    flex-shrink: 0;
    border-radius: $border-radius-full;
    background-color: rgba($color-foreground, $opacity-very-low);

    &--active {
        background-color: $color-blue-100;
    }
}
