$global-max-width: r(670);

$space-0: r(2);
$space-1: r(4);
$space-2: r(8);
$space-3: r(12);
$space-4: r(16);
$space-5: r(20);
$space-6: r(24);
$space-7: r(28);
$space-8: r(32);
$space-9: r(36);
$space-10: r(40);
$space-11: r(44);
$space-12: r(48);
$space-13: r(52);
$space-14: r(56);
$space-15: r(60);
$space-16: r(64);
$space-17: r(68);
$space-18: r(72);
$space-19: r(76);
$space-20: r(80);
$space-21: r(84);
$space-22: r(88);
$space-23: r(92);
$space-24: r(96);

$border-width-thin: r(1);

$border-radius-sm: $space-0;
$border-radius: $space-1;
$border-radius-md: r(6);
$border-radius-lg: $space-2;
$border-radius-xl: $space-3;
$border-radius-2xl: $space-4;
$border-radius-3xl: $space-6;
$border-radius-full: $space-24;

$blur-sm: blur($space-1);
$blur: blur($space-2);
$blur-md: blur($space-3);
$blur-lg: blur($space-4);
$blur-xl: blur($space-6);
$blur-2xl: blur($space-10);
$blur-3xl: blur($space-16);

$opacity-low: 0.2;
$opacity-medium: 0.4;
$opacity-high: 0.6;
$opacity-very-high: 0.8;

$font-size-default: r(13);

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$font-name-primary: 'Helvetica Neue', 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, 'Lucida Grande';
$font-family-primary: $font-name-primary, sans-serif;

$color-white: #ffffff;
$color-black: #000000;

$color-gray-000: #c0c0c0;
$color-gray-100: #606060;
$color-gray-200: #535353;

$color-blue-000: #559fff;
$color-blue-100: #007aff;

$color-foreground: $color-black;
$color-background: $color-white;

$color-border-primary: $color-foreground;

$transition-duration-fast: 0.2s;
$transition-duration-medium: 0.4s;
$transition-duration-slow: 0.6s;
$transition-duration-very-slow: 1s;
$transition-ease: ease-out;

$page-gutters: (
        tiny: $space-4,
        small: $space-10,
        tablet: $space-14,
        desktop: 0,
);

$breakpoints: (
        tiny: 0,
        phone: 461px,
        small: 601px,
        tablet: 901px,
        desktop: 1201px,
        medium: 1501px,
        large: 1801px
);
