$color-white-000: #ffffff;

$color-black: #000000;

$color-gray-000: #c0c0c0;
$color-gray-100: #606060;
$color-gray-200: #535353;

$color-foreground: $color-black;
$color-background: $color-white-000;

$color-border-lighter: $color-gray-000;
$color-border-regular: $color-gray-100;
$color-border-darker: $color-gray-200;

$border-width-ultra-thin: r(0.1);
$border-width-thin: r(0.5);
$border-width-regular: r(1);

$border-radius-xs: r(4);
$border-radius-s: r(8);
$border-radius-m: r(12);
$border-radius-l: r(20);
$border-radius-xl: r(100);

$blur-low: blur(r(10));
$blur-medium: blur(r(20));
$blur-high: blur(r(30));
$blur-very-high: blur(r(40));

$opacity-low: 0.2;
$opacity-medium: 0.4;
$opacity-high: 0.6;
$opacity-very-high: 0.8;
$opacity-reset: 1;

$contrast-low: contrast(0.2);
$contrast-medium: contrast(0.4);
$contrast-high: contrast(0.6);
$contrast-very-high: contrast(0.8);
$contrast-reset: contrast(1);

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$font-name-primary: '';
$font-family-primary: $font-name-primary, Helvetica;

$transition-duration-default: 0.2s;
$transition-duration-slow: 0.4s;
$transition-duration-very-slow: 1s;
$transition-ease: ease-out;

$space-0: r(4);
$space-1: r(8);
$space-2: r(16);
$space-3: r(24);
$space-4: r(32);
$space-5: r(40);
$space-6: r(48);
$space-7: r(56);
$space-8: r(64);
$space-9: r(72);
$space-10: r(80);
$space-12: r(96);
$space-16: r(128);
$space-20: r(160);
$space-22: r(176);
$space-24: r(192);

$global-max-width: r(670);

$page-gutters: (
        tiny: $space-2,
        small: $space-5,
        tablet: $space-7,
        desktop: 0,
);

$breakpoints: (
        tiny: 0,
        phone: 461px,
        small: 601px,
        tablet: 901px,
        desktop: 1201px,
        medium: 1501px,
        large: 1801px
);
